/* style topic_list by Micogian
---------------------------------------- */
.nav_alfa span a, .nav_alfa span a:link, .nav_alfa span a:visited, .nav_alfa span a:active {
    font-weight: normal;
    text-decoration: none;
    color: #000080;
    margin: 0 2px;
    padding: 0 2px;
    background-color: #eeeeee;
    border: 1px solid #bababa;
    font-size: 1.3em;
    line-height: 1.8em;
}
.nav_alfa span a:hover {
    border-color: #000080;
    background-color: #c0c0c0;
    color: #FF0000;
    text-decoration: none;
}
#tab_left{
   margin: 1px;
   text-align: left;
   float: left;
   text-decoration: none;
}

#tab_right{
   margin: 1px;
   text-align: right;
   float: right;
   text-decoration: none;
}
#list_left{
   margin: 1px;
   text-align: left;
   float: left;
   text-decoration: none;
}

#list_right{
   margin: 1px;
   text-align: right;
   float: right;
   text-decoration: none;
}
.char_left{
	float: left;
	font-size: 2em;
	color: #000080;
	margin: 1px;
	text-align: left;
	
	text-decoration: none;
}
a.topiclist-title {
    font-family: "Trebuchet MS", Helvetica, Arial, Sans-serif;
    font-size: 1.4em;
    font-weight: bold;
    text-decoration: none;
}
.char_right{
	float: right; 
	margin: 1px;
	text-align: right;	
	text-decoration: none;
}
.first_char {
	background-color: #eeeeee;
    border: 1px solid #c0c0c0;
	color: #000080;
    font-size: 1.5em;
	padding: 3px 5px 4px 0;
	border-radius: 5px;
}
.bg_row {
    background-color: #F9F9F9;
	border-top: 1px solid #c1c1c1;
}
.postprofile{
	display: none;
}
.postbody{
	width: 99%;
}
.online {
    background-image: none;
}
.action-bar{
	display: none;
}
.page-topiclist > ul > li {
    display: inline-block !important;
    padding: 0;
    font-size: 100%;
    line-height: normal;
    vertical-align: middle;
}
