<!-- IF TOPIC_LIST_DISPLAY -->
	<!-- IF MULTIPAGES -->
	<div style="width: 50%;">
		<div style="float: left;">
			<form id="form" method="post">
				<input type="hidden" name=forum_id value="{FORUM_LIST_COR}">
				<label>&nbsp;Periodo di ricerca &nbsp;</label>
				<select name="days" onChange="this.form.submit()" >
					<option value ="1" {TOPIC_TIME_1}>{TEXT_TIME_1}</option>
					<option value ="7" {TOPIC_TIME_2}>{TEXT_TIME_2}</option>
					<option value ="30" {TOPIC_TIME_3}>{TEXT_TIME_3}</option>
					<option value ="60" {TOPIC_TIME_4}>{TEXT_TIME_4}</option>
					<option value ="90" {TOPIC_TIME_5}>{TEXT_TIME_5}</option>
					<option value ="120" {TOPIC_TIME_6}>{TEXT_TIME_6}</option>
					<option value ="365" {TOPIC_TIME_7}>{TEXT_TIME_7}</option>						
				</select>
			</form>
		</div>
		<div style="float: left; margin: 0 0 5px 10px;">
			<form method="post" id="forum-search" action="{BASE_URL}">
				<input class="inputbox search tiny" type="search" name="string" id="search_keywords" size="25" placeholder="{L_SEARCH_FORUM} (min.4 carat.)" />
					<!--<button class="button button-search" type="submit" title="{L_SEARCH}">-->
					<button class="button" type="submit" title="{L_SEARCH}">
						<i class="icon fa-search fa-fw" aria-hidden="true"></i><span class="sr-only">{L_SEARCH}</span>
					</button>
			</form>
		</div>
		<div style="float: left; margin: 0 0 5px 10px;">
			<a class="button active" href="{BASE_URL}" role="button">RESET</a>
		</div>
		
	</div>
	<div class="pagination">		
		<span>&bull; 	Totale argomenti selezionati: {FIRST_TOPIC}/{LAST_TOPIC} di {TOTAL_TOPICS}</span>
		<ul>
			<!-- IF BASE_URL and TOTAL_PAGES > 6 -->
			<li class="dropdown-container dropdown-button-control dropdown-page-jump page-jump">
				<a class="button button-icon-only dropdown-trigger" href="#" title="{L_JUMP_TO_PAGE_CLICK}" role="button"><i class="icon fa-level-down fa-rotate-270" aria-hidden="true"></i><span class="sr-only">{PAGE_NUMBER}</span></a>
				<div class="dropdown">
					<div class="pointer"><div class="pointer-inner"></div></div>
					<ul class="dropdown-contents">
						<li>{L_JUMP_TO_PAGE}{L_COLON}</li>
						<li class="page-jump-form">
							<input type="number" name="page-number" min="1" max="999999" title="{L_JUMP_PAGE}" class="inputbox tiny" data-per-page="{PER_PAGE}" data-base-url="{BASE_URL|e('html_attr')}" data-start-name="{START_NAME}" /><input class="button2" value="{L_GO}" type="button" />
						</li>
					</ul>
				</div>
			</li>
		<!-- ENDIF -->
		<!-- BEGIN page_topiclist -->
				<!-- IF page_topiclist.S_IS_PREV -->
					<li class="arrow previous"><a class="button button-icon-only" href="{page_topiclist.PAGE_URL}" rel="prev" role="button"><i class="icon fa-chevron-{S_CONTENT_FLOW_BEGIN} fa-fw" aria-hidden="true"></i><span class="sr-only">{L_PREVIOUS}</span></a></li>
				<!-- ELSEIF page_topiclist.S_IS_CURRENT -->
				<li class="active"><span>{page_topiclist.PAGE_NUMBER}</span></li>
				<!-- ELSEIF page_topiclist.S_IS_ELLIPSIS -->
				<li class="ellipsis" role="separator"><span>{L_ELLIPSIS}</span></li>				
				<!-- ELSEIF page_topiclist.S_IS_NEXT -->
					<li class="arrow next"><a class="button button-icon-only" href="{page_topiclist.PAGE_URL}" rel="next" role="button"><i class="icon fa-chevron-{S_CONTENT_FLOW_END} fa-fw" aria-hidden="true"></i><span class="sr-only">{L_NEXT}</span></a></li>			
				<!-- ELSE -->
					<li><a class="button" href="{page_topiclist.PAGE_URL}" role="button">{page_topiclist.PAGE_NUMBER}</a></li>
				<!-- ENDIF -->
		<!-- END page_topiclist -->
		</ul>		
	</div>
	<div style='clear: both;'></div>
	<!-- ELSE -->
	<div id="tab_right">
		<div class="nav_alfa">
			<span>
				<a href="#t@">@</a><a href="#t0">0-9</a><a href="#tA">A</a><a href="#tB">B</a><a href="#tC">C</a><a href="#tD">D</a><a href="#tE">E</a><a href="#tF">F</a><a href="#tG">G</a><a href="#tH">H</a><a href="#tI">I</a><a href="#tJ">J</a><a href="#tK">K</a><a href="#tL">L</a><a href="#tM">M</a><a href="#tN">N</a><a href="#tO">O</a><a href="#tP">P</a><a href="#tQ">Q</a><a href="#tR">R</a><a href="#tS">S</a><a href="#tT">T</a><a href="#tU">U</a><a href="#tV">V</a><a href="#tW">W</a><a href="#tX">X</a><a href="#tY">Y</a><a href="#tZ">Z</a>
			</span>
			<br />
		</div>
	</div>
	<div style='clear: both;'></div>
	<br />
	<div style="width: 50%;">
		<div style="float: left;">
			<form name="form" method="post">
				<input type="hidden" name=forum_id value="{FORUM_LIST_COR}">
				<label>&nbsp;Periodo di ricerca &nbsp;</label>
				<select name="days" onChange="this.form.submit()" >
					<option value ="1" {TOPIC_TIME_1}>{TEXT_TIME_1}</option>
					<option value ="7" {TOPIC_TIME_2}>{TEXT_TIME_2}</option>
					<option value ="30" {TOPIC_TIME_3}>{TEXT_TIME_3}</option>
					<option value ="60" {TOPIC_TIME_4}>{TEXT_TIME_4}</option>
					<option value ="90" {TOPIC_TIME_5}>{TEXT_TIME_5}</option>
					<option value ="120" {TOPIC_TIME_6}>{TEXT_TIME_6}</option>
					<option value ="365" {TOPIC_TIME_7}>{TEXT_TIME_7}</option>						
				</select>
			</form>
		</div>
		<div style="float: left; margin: 0 0 5px 10px;">
			<form method="post" id="forum-search" action="{BASE_URL}">
				<input class="inputbox search tiny" type="search" name="string" id="search_keywords" size="25" placeholder="{L_SEARCH_FORUM} (min.4 carat.)" />
					<!--<button class="button button-search" type="submit" title="{L_SEARCH}">-->
					<button class="button" type="submit" title="{L_SEARCH}">
						<i class="icon fa-search fa-fw" aria-hidden="true"></i><span class="sr-only">{L_SEARCH}</span>
					</button>
			</form>
		</div>
		<div style="float: left; margin: 0 0 5px 10px;">
			<a class="button active" href="{BASE_URL}" role="button">RESET</a>
		</div>
	</div>
	<div style="float: right; margin-top: 10px;">	
		<span>&bull; 	Totale argomenti selezionati: {TOTAL_TOPICS}</span>		
	</div>
	<div style='clear: both;'></div>
	<!-- ENDIF -->
	<div class="forabg">
		<div class="inner">
            <ul class="topiclist">
				<li class="header">
                    <dl class="row-item">
						<dt><div class="list-inner">&nbsp;&nbsp;{L_TOPIC_TITLE}</div></dt>
						<dd class="posts">{L_REPLIES}</dd> 
						<dd class="views">{L_VIEWS}</dd>  						
						<dd class="lastpost"><span>Ultimo messaggio</span></dd>
					</dl>
				</li>
            </ul>
			<div class='clear'></div>
			<br>
			<!-- BEGIN topic_list -->
			<!-- IF topic_list.S_FIRST_ROW == 1 -->
			<ul class="topiclist topics" style="background-color: #FFFFFF;">     
				<li class="bg_row">
					<dl>
						<dt>
							<div>
								<div class="char_left first_char"><a id="t{topic_list.FIRST_CHAR}">&nbsp;</a>{topic_list.FIRST_CHAR}</div>
								<div class="char_right top"><a href='#top'  title='Top'><i class='icon fa-chevron-circle-up fa-fw icon-gray' aria-hidden='true'></i><span class='sr-only'>Top</span></a></div>
							</div>
						</dt>
					</dl>
				</li>
			</ul>
			<div class='clear'></div>
			<!-- ENDIF -->
			<ul class="topiclist topics">     
				<li class="bg_row">
					<dl>
						<dt>
							<div class="list-inner">
								{topic_list.TOPIC_NUMBER}&nbsp;&nbsp;&nbsp;
								<a class="topiclist-title" href="{topic_list.TOPIC_LINK}">{topic_list.TOPIC_TITLE}</a><br>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;da <span>{topic_list.TOPIC_AUTHOR_FULL}&nbsp;&nbsp;{topic_list.FIRST_POST_TIME}</span>
							</div>													
						</dt>
						<dd class="posts">{topic_list.TOPIC_REPLIES}</dd>
						<dd class="views">{topic_list.TOPIC_VIEWS}</dd>
						<dd class="lastpost">{topic_list.LAST_POST_AUTHOR_FULL} <a href='{topic_list.LAST_POST_LINK}' title='Apri ultimo messaggio' >
							<i class='icon fa-external-link-square fa-fw icon-lightgray icon-md' aria-hidden='true'></i><span class='sr-only'>Vedi ultimo messaggio</span>	</a>					
							<br>{topic_list.LAST_POST_TIME}
						</dd>
					</dl>
				</li>
			</ul>
			<!-- END topic_list -->
		</div>
		<div class='clear'></div>
		<br /> 
	</div>

	<hr class="divider" />
<!-- ENDIF -->
