<!-- IF TOPIC_LIST_DISPLAY -->
	<h3>{TITLE_TOPIC_LIST}: {FORUM_LIST_COR}</h3>
	<div class="navbar">
		<div class="inner">       
			<div id="tab_left">
				<form name="form" method="post">
					<input type="hidden" name=forum_id value="{FORUM_LIST_COR}">
					<label>&nbsp;Periodo di ricerca &nbsp;</label>
					<select name="days" onChange="this.form.submit()" >
						<option value ="1" {TOPIC_TIME_1}>{TEXT_TIME_1}</option>
						<option value ="7" {TOPIC_TIME_2}>{TEXT_TIME_2}</option>
						<option value ="30" {TOPIC_TIME_3}>{TEXT_TIME_3}</option>
						<option value ="60" {TOPIC_TIME_4}>{TEXT_TIME_4}</option>
						<option value ="90" {TOPIC_TIME_5}>{TEXT_TIME_5}</option>
						<option value ="120" {TOPIC_TIME_6}>{TEXT_TIME_6}</option>
						<option value ="365" {TOPIC_TIME_7}>{TEXT_TIME_7}</option>						
					</select>
				</form>
			</div>
			<div id="tab_right">
				<div class="nav_alfa">
					<span>
						<a href="#t@">@</a><a href="#t0">0-9</a><a href="#tA">A</a><a href="#tB">B</a><a href="#tC">C</a><a href="#tD">D</a><a href="#tE">E</a><a href="#tF">F</a><a href="#tG">G</a><a href="#tH">H</a><a href="#tI">I</a><a href="#tJ">J</a><a href="#tK">K</a><a href="#tL">L</a><a href="#tM">M</a><a href="#tN">N</a><a href="#tO">O</a><a href="#tP">P</a><a href="#tQ">Q</a><a href="#tR">R</a><a href="#tS">S</a><a href="#tT">T</a><a href="#tU">U</a><a href="#tV">V</a><a href="#tW">W</a><a href="#tX">X</a><a href="#tY">Y</a><a href="#tZ">Z</a>
					</span>
				</div>
			</div>
			<div style='clear: both;'></div>
		</div>
    </div>
	<div class="forabg">
		<div class="inner">
            <ul class="topiclist">
				<li class="header">
                    <dl>
						<dd style="text-align: left; width: 2%;">&nbsp;</dd>
						<dd style="text-align: left; width: 35%;">&nbsp;&nbsp;{L_TOPIC_TITLE}</dd>
						<dd style="text-align: left; width: 25%;">&nbsp;Nome del Forum</dd>
						<dd style="text-align: center; width:12%;">&nbsp;Autore - Data</dd>
						<dd style="text-align: center; width:6%;">&nbsp;{L_REPLIES}</dd> 
						<dd style="text-align: center; width:6%;">&nbsp;{L_VIEWS}</dd>  						
						<dd style="text-align: center; width: 12%;">&nbsp;Ultimo messaggio</dd>
					</dl>
				</li>
            </ul>
        </div>
	</div>
	<div class="navbar">
        <div class="inner">
			<!-- BEGIN topic_list -->
			<!-- IF topic_list.S_FIRST_ROW == 1 -->
			<div>	
                <div id="list_left" class="first_char"><a id="t{topic_list.FIRST_CHAR}">&nbsp;</a>{topic_list.FIRST_CHAR}</div>
				<div id="list_right" class="top"><a href='#top'  title='Top'><i class='icon fa-chevron-circle-up fa-fw icon-gray' aria-hidden='true'></i><span class='sr-only'>Top</span></a></div>
			</div>
			<div style='clear: both;'></div>
			<!-- ENDIF -->
			<ul class="topiclist forums">     
				<li class="bg_row">
					<dl>
						<dd style="text-align: left; width: 2%;">{topic_list.TOPIC_ICON_IMG}</dd>
						<dd style="text-align: left; width: 35%;"><a class="forumtitle" href="{topic_list.TOPIC_LINK}">{topic_list.TOPIC_TITLE}</a></dd>
						<dd style="text-align: left; width: 25%;"><a class="forumtitle" href="{topic_list.FORUM_LINK}">{topic_list.FORUM_NAME}</a></dd>
						<dd style="text-align: center; width: 12%;"><span>{topic_list.TOPIC_AUTHOR_FULL}<br>{topic_list.FIRST_POST_TIME}</span></dd>
						<dd style="text-align: center; width: 6%;">{topic_list.REPLIES}</dd>
						<dd style="text-align: center; width: 6%;">{topic_list.VIEWS}</dd>
						<dd style="text-align: center; width: 12%;">{topic_list.LAST_POST_AUTHOR_FULL} <a href='{topic_list.LAST_POST_LINK}' title='Apri ultimo messaggio' >
							<i class='icon fa-external-link-square fa-fw icon-lightgray icon-md' aria-hidden='true'></i><span class='sr-only'>Vedi ultimo messaggio</span>	</a>					
							<br>{topic_list.LAST_POST_TIME}
						</dd>
					</dl>
				</li>
			</ul>
			<!-- END topic_list -->
		</div>
    <div>            
	<div style='clear: both;'></div>
	<br /> 
	</div>

	<hr class="divider" />
<!-- ENDIF -->
